


DB_USER=
DB_NAME=
DB_PASSWORD=


# openssl rand -base64 32
AUTH_SECRET=your-secret-key

# https://console.cloudinary.com/settings/c-be1cbf7e8b109646dc311769f5a094/api-keys
# Este url es el necesario para subir las imagenes
CLOUDINARY_URL=

#Paypal
# https://developer.paypal.com/dashboard
# guidofortunato@personal.example.com
# pass: 12345678

NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=

# POST
PAYPAL_OAUTH_URL=

# GET
PAYPAL_ORDERS_URL=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=